*{
    box-sizing: border-box;
    font: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

footer{
    border-top: 3px solid #333;
    background-color: dodgerblue;
    color: #bbb;
    line-height: 1.5;
}

footer a{
    text-decoration: none;
    color: #eee;
}

a:hover{
    text-decoration: underline;
}

.ft-title{
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    flex: 1;
}

.ft-main{
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item{
    padding: 1.25rem;
    min-width: 12.5rem;
}

form{
    display: flex;
    flex-wrap: wrap;
}

input[type="email"]{
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"]{
    background-color: dodgerblue;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 1rem;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
    color: #fff;
}

@media only screen and(min-width: 29.8125rem){
    .ft-main{
        justify-content: space-evenly;
    }
}

/* @media only screen and (max-width: 720px){
    input[type="submit"]{
        background-color: yellowgreen;
        border: 3px solid red;
        cursor: pointer;
        margin-left: 1rem;
        padding: 0.625rem 0.9375rem;
        margin-top: 0.3125rem;
        color: hotpink;
    }
} */

@media only screen and (min-width: 77.5rem){
    .ft-main{
        justify-content: space-evenly;
    }
}

.ft-social{
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list{
    display: flex;
    justify-content: center;
    border-top: 1px solid #777;
    padding-top: 1.25rem;
}
.ft-social-list li{
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-social-list li>a:hover{
    color: orange;
}
 